#active-game {
    text-align: center;
    margin: 2rem 0 5 rem 0;
    /* display: none; */

}

#game-over {
    max-width: 40rem;
    margin: auto;
    width: 90%;
    padding: 1rem 2rem;
    background-color: rgb(50, 5, 87);
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    display: none;
}

#game-over h2 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

#active-player-name {
    font-size: 1.5rem;
    color: rgb(50, 5, 87);
}

#game-board {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(3, 6rem);
    justify-content: center;
    gap: 0.5rem;

}

#game-board li {
    background-color: rgb(169, 141, 206);
    border-radius: 0;
    cursor: pointer;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board li:hover {
    background-color: rgb(130, 95, 175);
}

#game-board li.disabled {
    background-color: rgb(130, 95, 175);
    color: white;
    cursor: default;
}